/**
 * Created by ziyu on 2017/1/3.
 */
/**
 * Created by ziyu on 2017/1/3.
 */
body {
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 10px;
}
body ul.nav li {
  border: 2px solid green;
}
body ul.nav li:hover {
  background: green;
  color: #008000;
}
body ul.cont {
  padding-top: 20px;
}
body ul.cont li {
  border: 2px dashed red;
}
.cont li:hover {
  border-style: solid;
  border-color: #008000;
}
