/**
 * Created by ziyu on 2017/1/4.
 */

body{
  background: rgba(0, 128, 0, 0.24);
}


.cont_s{
  color: #000;
  background: rgba(255, 255, 0, 0.25);
  .child{
    color: green;
    &.child3{
      span{
        text-decoration: underline;
      }
      .child2{
        background: yellow;
      }
    }
    >.child2{
      color: red;
      >span{
        text-decoration: underline;
        &.t1{
          text-decoration:none;
          +.t2{
            font-weight: bold;
            font-size: 30px;
          }
        }
      }
    }
  }
}